
.cargando{
    width: 100px;
    height: 30px;
    animation: cargando 5s alternate infinite linear ;
    background-color: aqua;
  
}

.parrafo-cargando{
  font-size: 20px;
  margin-left: -50px;
  font-weight: bold;
  font-family:  monospace;
}

@keyframes cargando {
    to {
        margin-left: 0%;
        width: 200%;
      }
    
      from {
        margin-right: 100%;
        width: 300%;
      }

 
}